<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
</head>

<style>
    body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
  margin-top: 80px;
}
</style>

<body>
   {{>navbar}}
    <div class="about-section">
        <h1>About Us Page</h1>
        <p>Welcome to ElectroOnline.com</p>
        <p>This is E-commerce Website you will all electronics product at very low Price. Buy the best and product from our Website   </p>
      </div>
</body>
</html>